<div
  id="employee-category-modal-page"
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="employee-category-modal-page-modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="employee-category-modal-page-modalTitle"
        ></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-end mb-1">
            <a
              href="#"
              class="btn btn-light btn-xs"
              id="btn-new-employee-category"
            >
              <i class="bx bx-plus me-1"></i> Add New
            </a>
          </div>
        </div>

        <div class="table-responsive">
          <table
            class="table align-middle table-nowrap table-check"
            id="employee-categoryTable"
          >
            <thead class="table-light">
              <tr>
                <th style="width: 20px" class="align-middle">#</th>
                <th
                  class="sortable align-middle"
                  data-column="employee-category"
                >
                  <a href="javascript:void(0);" class="text-primary"
                    >Employee Category</a
                  >
                </th>
                <th style="text-align: right">
                  <div class="d-flex justify-content-end gap-3">Action</div>
                </th>
              </tr>
            </thead>
            <tbody id="employeeCategoryTableBody"></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary waves-effect"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <%- include ('./employee-category-modal-form') %>
</div>
