<%- contentFor('HeaderCss') %> <%- contentFor('body') %>
<h1>Client Details</h1>
<ul>
  <li><strong>ID:</strong></li>
  <li><strong>Name:</strong></li>
  <li><strong>Email:</strong></li>
  <li><strong>Phone:</strong></li>
  <li><strong>Address:</strong></li>
</ul>
<%- contentFor('FooterJs') %>
