<div
  id="case-profile-modal"
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="case-profile-modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="case-profile-modalTitle"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search..."
                        />
                        <i class="bx bx-search-alt search-icon"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3"
                    >
                      <div>
                        <a href="#" class="btn btn-light" id="btn-edit-case"
                          ><i class="mdi mdi-pencil me-1"></i> Edit Case</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!--begin-->
                <div class="row">
                  <div class="col-12">
                    <!-- Left sidebar -->
                    <div class="email-leftbar card fixed-menu">
                      <div class="mail-list mt-4" id="case-menu">
                        <a
                          href="#"
                          id="btn-case-details"
                          class="scroll-link active"
                          ><i class="mdi mdi-email-outline me-2"></i> Case
                          Details <span class="ms-1 float-end"></span
                        ></a>
                        <a href="#" id="btn-case-parties">
                          <i class="mdi mdi-email-outline me-2"></i> Parties
                          <span class="ms-1 float-end"></span>
                        </a>
                        <a href="#" id="btn-case-conferences">
                          <i class="mdi mdi-email-outline me-2"></i> Case
                          Conferences
                          <span class="ms-1 float-end"></span>
                        </a>
                        <a href="#" id="btn-case-schedule"
                          ><i class="mdi mdi-star-outline me-2"></i> Schedule</a
                        >
                        <a href="#" id="btn-case-files"
                          ><i class="mdi mdi-file-outline me-2"></i> Files</a
                        >
                        <a href="#" id="btn-case-fees" class="scroll-link"
                          ><i class="mdi mdi-file-outline me-2"></i> Fees</a
                        >
                        <a href="#" id="btn-case-invoices" class="scroll-link"
                          ><i class="mdi mdi-file-outline me-2"></i> Invoices</a
                        >
                        <a href="#" id="btn-case-payments" class="scroll-link"
                          ><i class="mdi mdi-file-outline me-2"></i> Payments</a
                        >
                      </div>
                    </div>
                    <!-- End Left sidebar -->

                    <!-- Right Sidebar -->
                    <div class="email-rightbar mb-0 content-area">
                      <div class="card">
                        <div class="card-body">
                          <!-- Target sections to scroll to -->
                          <section id="detailSection" class="target-section">
                            <div class="container mt-0">
                              <div class="row">
                                <div class="col-md-4">
                                  <!-- Profile Picture -->
                                  <img
                                    id="client-image"
                                    src="https://via.placeholder.com/150"
                                    alt="Profile Picture"
                                    class="img-fluid mb-3 case-image"
                                  />
                                </div>
                                <div class="col-md-8">
                                  <!-- Personal Information -->
                                  <h4 class="case-title"></h4>
                                  <p class="case-number"></p>
                                  <p class="folio-number"></p>
                                  <p class="client-name"></p>
                                  <p class="client-number"></p>
                                  <p class="case-category"></p>
                                  <p class="court"></p>
                                  <hr />
                                  <!-- Additional Information -->
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <h5>About</h5>
                                  <hr />
                                  <div class="container mt-0">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="row">
                                          <div
                                            class="col-md-12 d-flex justify-content-begin align-items-center"
                                          ></div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <p class="case-facts"></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                    <!-- card -->
                  </div>
                  <!-- end Col -->
                </div>
                <!-- end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger waves-effect"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
