<div
  class="modal fade"
  id="dispatch-modal-form"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="disapatch-modal-form-modalTitle"
  aria-hidden="true"
>
  <form
    class="needs-validation"
    id="frm-dispatch"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Add/Edit Dispatch</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Dispatch Details</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-number"
                          >Dispatch Number</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="dispatch-number"
                          name="dispatchNumber"
                          placeholder="Dispatch Number"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label" for="document-type"
                          >Document Type</label
                        >
                        <select
                          class="form-control form-select"
                          id="document-type"
                          name="documentType"
                          required
                        >
                          <option value="">Select Status</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label" for="client-name"
                          >Client Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="client-name"
                          name="clientName"
                          placeholder="Client Name"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-due-date"
                          >Due Date</label
                        >
                        <input
                          type="date"
                          class="form-control datepicker input active"
                          id="dispatch-due-date"
                          name="dispatchDueDate"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-date"
                          >Dispatch Date</label
                        >
                        <input
                          type="date"
                          class="form-control input active"
                          id="dispatch-date"
                          name="dispatchDate"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-received-date"
                          >Received Date</label
                        >
                        <input
                          type="date"
                          class="form-control datepicker input active"
                          id="dispatch-received-date"
                          name="dispatchReceivedDate"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-type"
                          >Dispatch Type</label
                        >
                        <select
                          class="form-control form-select"
                          id="dispatch-type"
                          name="dispatchType"
                          required
                        >
                          <option value="">Select Dispatch Type</option>
                          <option value="outbound">Outbound</option>
                          <option value="inbound">Inbound</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-priority"
                          >Type</label
                        >
                        <select
                          class="form-control form-select"
                          id="dispatch-priority"
                          name="dispatchPriority"
                          required
                        >
                          <option value="">Select Priority</option>
                          <option value="Urgent">Urgent</option>
                          <option value="High">High</option>
                          <option value="Normal">Normal</option>
                          <option value="Low">Low</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-status"
                          >Status</label
                        >
                        <select
                          class="form-control form-select"
                          id="dispatch-status"
                          name="dispatchStatus"
                          required
                        >
                          <option value="">Select Status</option>
                          <option value="Pending">Pending</option>
                          <option value="Dispatched">Dispatched</option>
                          <option value="Received">Received</option>
                          <option value="Cancelled">Cancelled</option>
                          <option value="Returned">Returned</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="delivery-type"
                          >Delivery Type</label
                        >
                        <select
                          class="form-control form-select"
                          id="delivery-type"
                          name="deliveryType"
                          required
                        >
                          <option value="">Select Delivery Type</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-delivered-by"
                          >Delivered By</label
                        >
                        <input
                          type="text"
                          id="dispatch-delivered-by"
                          name="dispatchDeliveredBy"
                          class="form-control"
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-source-address"
                          >Source Address</label
                        >
                        <textarea
                          id="dispatch-source-address"
                          name="dispatchSourceAddress"
                          class="form-control"
                        ></textarea>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="mb-3">
                        <label
                          class="form-label"
                          for="dispatch-destination-address"
                          >Destination Address</label
                        >
                        <textarea
                          id="dispatch-destination-address"
                          name="dispatchDestinationAddress"
                          class="form-control"
                        ></textarea>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="form-label" for="dispatch-note"
                          >Note</label
                        >
                        <textarea
                          id="dispatch-note"
                          name="dispatchNote"
                          class="form-control"
                        ></textarea>
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
        </div>
        <!-- end modal-body -->
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12">
              <input type="hidden" name="id" id="_id" />
              <input type="hidden" name="client" id="client-id" />
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" id="saveButton" class="btn btn-primary">
                Save <i class="fab fa-telegram-plane ms-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
